---
import Layout from "../layouts/Layout.astro";
import Snowflake from "../components/Snowflake.svelte";
import TypeWritter from "../components/TypeWritter.svelte";
import Projects from "../components/Projects.svelte";
import Curriculum from "../BrunoBento_CV.pdf";
import RightMenu from "../components/RightMenu.svelte";
import CustomButton from "../components/CustomButton.svelte"

const texts = ["Desenvolvedor Full Stack", "UI/UX Designer"];
---

<Layout>
	<div class="w-full h-screen overflow-y-scroll snap-y snap-mandatory text-white">
		<RightMenu client:load ></RightMenu>

		<Snowflake />

		<section id="home" class="snap-center h-screen flex flex-col items-center justify-center">
			<TypeWritter texts={texts} client:load />
		</section>
		<section id="about" class="snap-center h-screen flex flex-col items-center justify-center gap-8">
			<h2 class="sm:text-5xl text-4xl font-bold underline decoration-[#FFD02B]">Sobre</h2>
			<p class=" text-xl w-1/2 text-justify">
				Desenvolvedor Full Stack com experiência em otimização e depuração de aplicações.
				 Tecnólogo em Análise e Desenvolvimento de Sistemas, apaixonado por aprender e aprimorar minhas habilidades. Sempre curioso e em busca de novos conhecimentos para me manter atualizado no campo da tecnologia.
			</p>
			<p class=" text-lg text-justify">
				Trabalhando no Grupo DETK. Com sede em São Paulo - Barueri.
			</p>
		</section>
		<section id="project" class="snap-center h-screen flex flex-col gap-8  items-center justify-start pt-10">
			<h2 class="sm:text-5xl text-4xl font-bold text-white">Projetos</h2>
			<Projects client:load />
		</section>
		<section id="contact" class="snap-center flex flex-col gap-8 h-screen items-center justify-center ">
			<h2 class="sm:text-5xl text-4xl font-bold text-white">Contato</h2>
			<div class="relative group">
				<CustomButton buttonText="Baixar CV" />
			</div>
		</section>

	</div>


</Layout>
