---
import Layout from '../layouts/Layout.astro';
import Snowflake from '../components/Snowflake.svelte';
import TypeWritter from '../components/TypeWritter.svelte';
const texts = ["Desenvolvedor Full Stack", "UI/UX Designer"	];

---


<Layout>
	<Snowflake/>
	<main class="flex min-h-screen items-center justify-center">
		<div class="w-max">
			 <TypeWritter texts={texts} client:load/>
		</div>
	</main>
</Layout>

<style>

</style>
