---
import Layout from '../layouts/Layout.astro';
import Snowflake from '../components/Snowflake.svelte';
---

<Layout title="Welcome to Astro.">
	<Snowflake client:load/>
	<main>
		<p class="text-white">teste</p>
	</main>
</Layout>

<style>

</style>
