
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bruno Bento</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html, body {
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100vh;
		position: relative;
		overflow-x: hidden;
		background: linear-gradient(#131E3C, #0B1224);
	}
	
</style>
